.vux-header {
    background-color: #1c2635!important;
    height: 1.70rem;
    padding: 0!important;
}

.vux-header .vux-header-left {
    left: 0.29rem!important;
    top: 0.59rem!important;
}

.vux-header .vux-header-left span {
    color: #fff!important;
    font-size: 0.55rem;
}

.vux-header .vux-header-left span:nth-of-type(1) {
    margin-left: 0.4rem;
}

.vux-header-title-area {
    text-align: center;
}

.vux-header .vux-header-title {
    height: 1.7rem!important;
}

.vux-header .vux-header-title>span {
    font-size: 0.9rem;
    line-height: 1.7rem!important;
    color: #fff;
    margin-left: 0.9rem;
}

.vux-header .vux-header-right {
    /* margin-top: -0.07rem; */
}

.mu-icon {
    font-size: 0.9rem;
}